html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
}
#fixture_container {
  position: absolute;
  height: 100%;
  width: 100%;
}
.container.page-container {
  position: absolute;
  height: 100%;
  width: 100%;
}
